## 1. Import Libraries

In [27]:
import numpy as np
import pandas as pd

## 2. Data

In [3]:
df = pd.read_excel(r'data/customer.xlsx')

## 3. EDA

### 3a. Description

In [4]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [8]:
df.sample(5).T

,220530,19707,320608,383188,155466
InvoiceNo,556198,537886,565056,570002,549989
StockCode,22557,84945,22301,22191,22776
Description,PLASTERS IN TIN VINTAGE PAISLEY,MULTI COLOUR SILVER T-LIGHT HOLDER,COFFEE MUG CAT + BIRD DESIGN,IVORY DINER WALL CLOCK,SWEETHEART CAKESTAND 3 TIER
Quantity,1,24,6,4,2
InvoiceDate,2011-06-09 12:30:00,2010-12-09 09:49:00,2011-08-31 17:12:00,2011-10-07 09:16:00,2011-04-13 16:58:00
UnitPrice,1.65,0.85,2.55,8.5,9.95
CustomerID,14963.0,15660.0,16278.0,12477.0,13221.0
Country,United Kingdom,United Kingdom,United Kingdom,Germany,United Kingdom

In [15]:
df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [14]:
df.shape

(541909, 8)

### 4a. Null Values

In [9]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

### 4b. Unique Values

In [13]:
df.nunique()

InvoiceNo      25900
StockCode       4070
Description     4223
Quantity         722
InvoiceDate    23260
UnitPrice       1630
CustomerID      4372
Country           38
dtype: int64

## 5. Preprocessing

In [12]:
df.isnull().sum()/df.shape[0]*100

InvoiceNo       0.000000
StockCode       0.000000
Description     0.268311
Quantity        0.000000
InvoiceDate     0.000000
UnitPrice       0.000000
CustomerID     24.926694
Country         0.000000
dtype: float64

### 5a. Duplicate values

In [16]:
df.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

### 5b. Null values in Customer ID

Check if all recurring invoice values have null values for customer ID

In [48]:
null_inv = df[df['CustomerID'].isna()].InvoiceNo.unique().tolist()

In [50]:
df[df['InvoiceNo'].isin(null_inv)]['CustomerID']

622      NaN
1443     NaN
1444     NaN
1445     NaN
1446     NaN
          ..
541536   NaN
541537   NaN
541538   NaN
541539   NaN
541540   NaN
Name: CustomerID, Length: 135080, dtype: float64

## 6. Visualisations

## 7. Analysis

### 7a. Lifetime Value (LTV)

### 7b. Average Revenue Per User (ARPU)

### 7c. MRR

### 7d. Churned MRR

### 7e. RPR