## 1. Import Libraries

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

## 2. Data

In [2]:
df = pd.read_excel(r'data/customer.xlsx')

## 3. EDA

### 3a. Description

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
df.sample(5).T

,403569,518103,186239,31133,209857
InvoiceNo,571640,580115,552857,538896,555275
StockCode,85034C,20985,20974,21882,22960
Description,3 ROSE MORRIS BOXED CANDLES,HEART CALCULATOR,12 PENCILS SMALL TUBE SKULL,SKULLS TAPE,JAM MAKING SET WITH JARS
Quantity,24,3,2,24,1
InvoiceDate,2011-10-18 12:01:00,2011-12-01 16:22:00,2011-05-11 15:34:00,2010-12-15 09:09:00,2011-06-01 17:18:00
UnitPrice,1.25,2.46,1.25,0.19,8.29
CustomerID,17203.0,NaN,NaN,16145.0,NaN
Country,United Kingdom,United Kingdom,United Kingdom,United Kingdom,United Kingdom

In [5]:
df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [6]:
df.shape

(541909, 8)

### 4a. Null Values

In [7]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

### 4b. Unique Values

In [8]:
df.nunique()

InvoiceNo      25900
StockCode       4070
Description     4223
Quantity         722
InvoiceDate    23260
UnitPrice       1630
CustomerID      4372
Country           38
dtype: int64

## 5. Preprocessing

In [9]:
df.isnull().sum()/df.shape[0]*100

InvoiceNo       0.000000
StockCode       0.000000
Description     0.268311
Quantity        0.000000
InvoiceDate     0.000000
UnitPrice       0.000000
CustomerID     24.926694
Country         0.000000
dtype: float64

### 5a. Duplicate values

In [10]:
df.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

### 5b. Null values in Customer ID

- Check for null values for customer ID
- For visualization purposes fill null values with "unknown"/"unregistered" customers

In [11]:
null_inv = df[df['CustomerID'].isna()].InvoiceNo.unique().tolist()

In [12]:
df['CustomerID'].fillna("unknown", inplace=True)

In [13]:
df.query('~CustomerID.isna()')['CustomerID'] = df.query('~CustomerID.isna()')['CustomerID'].apply(lambda x: str(x)[:-2]).tolist()

In [14]:
df['Description'].fillna('no description', inplace=True)

## 6. Visualisations

## 7. Analysis

### 7a. Lifetime Value (LTV)

In [24]:
ltv = df.query('CustomerID!="unknown"')

In [25]:
df_ltv = ltv.groupby('CustomerID').apply(lambda s: pd.Series({
    'Avg_revenue' : round((s['UnitPrice'].sum()*s['Quantity'].sum()).mean()),
    'Transactions' : s['InvoiceNo'].count(),
    'Retention_time' : (s['InvoiceDate'].max() - s['InvoiceDate'].min()).days
}))

df_ltv['Lifetime_value'] = df_ltv['Avg_revenue']*df_ltv['Transactions']*df_ltv['Retention_time']

In [26]:
df_ltv

            Avg_revenue  Transactions  Retention_time  Lifetime_value
CustomerID
12346.0               0             2               0               0
12347.0         1182814           182             365     78574334020
12348.0          418360            31             282      3657303120
12349.0          381818            73               0               0
12350.0           12864            17               0               0
...                 ...           ...             ...             ...
18280.0            2144            10               0               0
18281.0            2125             7               0               0
18282.0            6143            13             118         9423362
18283.0         1705639           756             333    429391206972
18287.0          165816            70             158      1833924960

[4372 rows x 4 columns]

### 7b. Average Revenue Per User (ARPU)

### 7c. MRR

### 7d. Churned MRR

### 7e. RPR